<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>GTK+ 3 Reference Manual: GTK+ 3 Reference Manual</title>
<meta name="generator" content="DocBook XSL Stylesheets Vsnapshot">
<link rel="home" href="index.html" title="GTK+ 3 Reference Manual">
<link rel="next" href="gtk.html" title="Part I. GTK+ Overview">
<meta name="generator" content="GTK-Doc V1.99 (XML mode)">
<link rel="stylesheet" href="style.css" type="text/css">
</head>
<body bgcolor="white" text="black" link="#0000FF" vlink="#840084" alink="#0000FF">
<div class="book">
<div class="titlepage">
<div>
<div><table class="navigation" id="top" width="100%" cellpadding="2" cellspacing="0"><tr><th valign="middle"><p class="title">GTK+ 3 Reference Manual</p></th></tr></table></div>
<div><p class="releaseinfo">
      This document is for the GTK+ 3 library, version 3.24.20
.
      The latest versions can be found online at
      <a class="ulink" href="https://developer.gnome.org/gtk3/" target="_top">https://developer.gnome.org/gtk3/</a>.
      If you are looking for the older GTK+ 2 series of libraries,
      see <a class="ulink" href="https://developer.gnome.org/gtk2/" target="_top">https://developer.gnome.org/gtk2/</a>.
    </p></div>
</div>
<hr>
</div>
<div class="toc"><dl class="toc">
<dt><span class="part"><a href="gtk.html">I. GTK+ Overview</a></span></dt>
<dd><dl>
<dt><span class="chapter"><a href="gtk-getting-started.html">Getting Started with GTK+</a></span></dt>
<dd><dl>
<dt><span class="section"><a href="gtk-getting-started.html#id-1.2.3.5">Basics</a></span></dt>
<dt><span class="section"><a href="ch01s02.html">Packing</a></span></dt>
<dt><span class="section"><a href="ch01s03.html">Building user interfaces</a></span></dt>
<dt><span class="section"><a href="ch01s04.html">Building applications</a></span></dt>
<dd><dl>
<dt><span class="section"><a href="ch01s04.html#id-1.2.3.12.5">A trivial application</a></span></dt>
<dt><span class="section"><a href="ch01s04.html#id-1.2.3.12.6">Populating the window</a></span></dt>
<dt><span class="section"><a href="ch01s04.html#id-1.2.3.12.7">Opening files</a></span></dt>
<dt><span class="section"><a href="ch01s04.html#id-1.2.3.12.8">An application menu</a></span></dt>
<dt><span class="section"><a href="ch01s04.html#id-1.2.3.12.9">A preference dialog</a></span></dt>
<dt><span class="section"><a href="ch01s04.html#id-1.2.3.12.10">Adding a search bar</a></span></dt>
<dt><span class="section"><a href="ch01s04.html#id-1.2.3.12.11">Adding a side bar</a></span></dt>
<dt><span class="section"><a href="ch01s04.html#id-1.2.3.12.12">Properties</a></span></dt>
<dt><span class="section"><a href="ch01s04.html#id-1.2.3.12.13">Header bar</a></span></dt>
</dl></dd>
<dt><span class="section"><a href="ch01s05.html">Custom Drawing</a></span></dt>
</dl></dd>
<dt>
<span class="refentrytitle"><a href="gtk-resources.html">Mailing lists and bug reports</a></span><span class="refpurpose"> — 
Getting help with GTK+
</span>
</dt>
<dt>
<span class="refentrytitle"><a href="gtk-question-index.html">Common Questions</a></span><span class="refpurpose"> — 
Find answers to common questions in the GTK+ manual
</span>
</dt>
<dt>
<span class="refentrytitle"><a href="chap-drawing-model.html">The GTK+ Drawing Model</a></span><span class="refpurpose"> — 
    The GTK+ drawing model in detail
</span>
</dt>
<dt>
<span class="refentrytitle"><a href="chap-input-handling.html">The GTK+ Input and Event Handling Model</a></span><span class="refpurpose"> — 
    GTK+ input and event handling in detail
</span>
</dt>
</dl></dd>
<dt><span class="part"><a href="gtkobjects.html">II. GTK+ Widgets and Objects</a></span></dt>
<dd><dl>
<dt><span class="chapter"><a href="ch02.html">Object Hierarchy</a></span></dt>
<dt><span class="chapter"><a href="ch03.html">Widget Gallery</a></span></dt>
<dt><span class="chapter"><a href="Application.html">Application support</a></span></dt>
<dd><dl>
<dt>
<span class="refentrytitle"><a href="GtkApplication.html">GtkApplication</a></span><span class="refpurpose"> — Application class</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkApplicationWindow.html">GtkApplicationWindow</a></span><span class="refpurpose"> — GtkWindow subclass with GtkApplication support</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkActionable.html">GtkActionable</a></span><span class="refpurpose"> — An interface for widgets that can be associated
with actions</span>
</dt>
</dl></dd>
<dt><span class="chapter"><a href="Builder.html">Interface builder</a></span></dt>
<dd><dl>
<dt>
<span class="refentrytitle"><a href="GtkBuilder.html">GtkBuilder</a></span><span class="refpurpose"> — Build an interface from an XML UI definition</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkBuildable.html">GtkBuildable</a></span><span class="refpurpose"> — Interface for objects that can be built by GtkBuilder</span>
</dt>
</dl></dd>
<dt><span class="chapter"><a href="WindowWidgets.html">Windows</a></span></dt>
<dd><dl>
<dt>
<span class="refentrytitle"><a href="GtkWindow.html">GtkWindow</a></span><span class="refpurpose"> — Toplevel which can contain other widgets</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkDialog.html">GtkDialog</a></span><span class="refpurpose"> — Create popup windows</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkMessageDialog.html">GtkMessageDialog</a></span><span class="refpurpose"> — A convenient message window</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkAboutDialog.html">GtkAboutDialog</a></span><span class="refpurpose"> — Display information about an application</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkAssistant.html">GtkAssistant</a></span><span class="refpurpose"> — A widget used to guide users through multi-step operations</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkInvisible.html">GtkInvisible</a></span><span class="refpurpose"> — A widget which is not displayed</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkOffscreenWindow.html">GtkOffscreenWindow</a></span><span class="refpurpose"> — A toplevel to manage offscreen rendering of child widgets</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkWindowGroup.html">GtkWindowGroup</a></span><span class="refpurpose"> — Limit the effect of grabs</span>
</dt>
</dl></dd>
<dt><span class="chapter"><a href="LayoutContainers.html">Layout Containers</a></span></dt>
<dd><dl>
<dt>
<span class="refentrytitle"><a href="GtkBox.html">GtkBox</a></span><span class="refpurpose"> — A container for packing widgets in a single row or column</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkGrid.html">GtkGrid</a></span><span class="refpurpose"> — Pack widgets in rows and columns</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkRevealer.html">GtkRevealer</a></span><span class="refpurpose"> — Hide and show with animation</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkListBox.html">GtkListBox</a></span><span class="refpurpose"> — A list container</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkFlowBox.html">GtkFlowBox</a></span><span class="refpurpose"> — A container that allows reflowing its children</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkStack.html">GtkStack</a></span><span class="refpurpose"> — A stacking container</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkStackSwitcher.html">GtkStackSwitcher</a></span><span class="refpurpose"> — A controller for GtkStack</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkStackSidebar.html">GtkStackSidebar</a></span><span class="refpurpose"> — An automatic sidebar widget</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkActionBar.html">GtkActionBar</a></span><span class="refpurpose"> — A full width bar for presenting contextual actions</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkHeaderBar.html">GtkHeaderBar</a></span><span class="refpurpose"> — A box with a centered child</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkOverlay.html">GtkOverlay</a></span><span class="refpurpose"> — A container which overlays widgets on top of each other</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkButtonBox.html">GtkButtonBox</a></span><span class="refpurpose"> — A container for arranging buttons</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkPaned.html">GtkPaned</a></span><span class="refpurpose"> — A widget with two adjustable panes</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkLayout.html">GtkLayout</a></span><span class="refpurpose"> — Infinite scrollable area containing child widgets
and/or custom drawing</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkNotebook.html">GtkNotebook</a></span><span class="refpurpose"> — A tabbed notebook container</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkExpander.html">GtkExpander</a></span><span class="refpurpose"> — A container which can hide its child</span>
</dt>
<dt>
<span class="refentrytitle"><a href="gtk3-Orientable.html">GtkOrientable</a></span><span class="refpurpose"> — An interface for flippable widgets</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkAspectFrame.html">GtkAspectFrame</a></span><span class="refpurpose"> — A frame that constrains its child to a particular aspect ratio</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkFixed.html">GtkFixed</a></span><span class="refpurpose"> — A container which allows you to position
widgets at fixed coordinates</span>
</dt>
</dl></dd>
<dt><span class="chapter"><a href="DisplayWidgets.html">Display Widgets</a></span></dt>
<dd><dl>
<dt>
<span class="refentrytitle"><a href="GtkLabel.html">GtkLabel</a></span><span class="refpurpose"> — A widget that displays a small to medium amount of text</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkImage.html">GtkImage</a></span><span class="refpurpose"> — A widget displaying an image</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkSpinner.html">GtkSpinner</a></span><span class="refpurpose"> — Show a spinner animation</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkInfoBar.html">GtkInfoBar</a></span><span class="refpurpose"> — Report important messages to the user</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkProgressBar.html">GtkProgressBar</a></span><span class="refpurpose"> — A widget which indicates progress visually</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkLevelBar.html">GtkLevelBar</a></span><span class="refpurpose"> — A bar that can used as a level indicator</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkStatusbar.html">GtkStatusbar</a></span><span class="refpurpose"> — Report messages of minor importance to the user</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkAccelLabel.html">GtkAccelLabel</a></span><span class="refpurpose"> — A label which displays an accelerator key on the right of the text</span>
</dt>
</dl></dd>
<dt><span class="chapter"><a href="ButtonWidgets.html">Buttons and Toggles</a></span></dt>
<dd><dl>
<dt>
<span class="refentrytitle"><a href="GtkButton.html">GtkButton</a></span><span class="refpurpose"> — A widget that emits a signal when clicked on</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkCheckButton.html">GtkCheckButton</a></span><span class="refpurpose"> — Create widgets with a discrete toggle button</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkRadioButton.html">GtkRadioButton</a></span><span class="refpurpose"> — A choice from multiple check buttons</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkToggleButton.html">GtkToggleButton</a></span><span class="refpurpose"> — Create buttons which retain their state</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkLinkButton.html">GtkLinkButton</a></span><span class="refpurpose"> — Create buttons bound to a URL</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkMenuButton.html">GtkMenuButton</a></span><span class="refpurpose"> — A widget that shows a popup when clicked on</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkSwitch.html">GtkSwitch</a></span><span class="refpurpose"> — A “light switch” style toggle</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkScaleButton.html">GtkScaleButton</a></span><span class="refpurpose"> — A button which pops up a scale</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkVolumeButton.html">GtkVolumeButton</a></span><span class="refpurpose"> — A button which pops up a volume control</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkLockButton.html">GtkLockButton</a></span><span class="refpurpose"> — A widget to unlock or lock privileged operations</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkModelButton.html">GtkModelButton</a></span><span class="refpurpose"> — A button that uses a GAction as model</span>
</dt>
</dl></dd>
<dt><span class="chapter"><a href="NumericEntry.html">Numeric and Text Data Entry</a></span></dt>
<dd><dl>
<dt>
<span class="refentrytitle"><a href="GtkEntry.html">GtkEntry</a></span><span class="refpurpose"> — A single line text entry field</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkEntryBuffer.html">GtkEntryBuffer</a></span><span class="refpurpose"> — Text buffer for GtkEntry</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkEntryCompletion.html">GtkEntryCompletion</a></span><span class="refpurpose"> — Completion functionality for GtkEntry</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkScale.html">GtkScale</a></span><span class="refpurpose"> — A slider widget for selecting a value from a range</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkSpinButton.html">GtkSpinButton</a></span><span class="refpurpose"> — Retrieve an integer or floating-point number from
the user</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkSearchEntry.html">GtkSearchEntry</a></span><span class="refpurpose"> — An entry which shows a search icon</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkSearchBar.html">GtkSearchBar</a></span><span class="refpurpose"> — A toolbar to integrate a search entry with</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkEditable.html">GtkEditable</a></span><span class="refpurpose"> — Interface for text-editing widgets</span>
</dt>
</dl></dd>
<dt><span class="chapter"><a href="TextWidgetObjects.html">Multiline Text Editor</a></span></dt>
<dd><dl>
<dt>
<span class="refentrytitle"><a href="TextWidget.html">Text Widget Overview</a></span><span class="refpurpose"> — Overview of GtkTextBuffer, GtkTextView, and friends</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkTextIter.html">GtkTextIter</a></span><span class="refpurpose"> — Text buffer iterator</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkTextMark.html">GtkTextMark</a></span><span class="refpurpose"> — A position in the buffer preserved across buffer modifications</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkTextBuffer.html">GtkTextBuffer</a></span><span class="refpurpose"> — Stores attributed text for display in a GtkTextView</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkTextTag.html">GtkTextTag</a></span><span class="refpurpose"> — A tag that can be applied to text in a GtkTextBuffer</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkTextTagTable.html">GtkTextTagTable</a></span><span class="refpurpose"> — Collection of tags that can be used together</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkTextView.html">GtkTextView</a></span><span class="refpurpose"> — Widget that displays a GtkTextBuffer</span>
</dt>
</dl></dd>
<dt><span class="chapter"><a href="TreeWidgetObjects.html">Tree, List and Icon Grid Widgets</a></span></dt>
<dd><dl>
<dt>
<span class="refentrytitle"><a href="TreeWidget.html">Tree and List Widget Overview</a></span><span class="refpurpose"> — Overview of GtkTreeModel, GtkTreeView, and friends</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkTreeModel.html">GtkTreeModel</a></span><span class="refpurpose"> — The tree interface used by GtkTreeView</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkTreeSelection.html">GtkTreeSelection</a></span><span class="refpurpose"> — The selection object for GtkTreeView</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkTreeViewColumn.html">GtkTreeViewColumn</a></span><span class="refpurpose"> — A visible column in a GtkTreeView widget</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkTreeView.html">GtkTreeView</a></span><span class="refpurpose"> — A widget for displaying both trees and lists</span>
</dt>
<dt>
<span class="refentrytitle"><a href="gtk3-GtkTreeView-drag-and-drop.html">GtkTreeView drag-and-drop</a></span><span class="refpurpose"> — Interfaces for drag-and-drop support in GtkTreeView</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkCellView.html">GtkCellView</a></span><span class="refpurpose"> — A widget displaying a single row of a GtkTreeModel</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkIconView.html">GtkIconView</a></span><span class="refpurpose"> — A widget which displays a list of icons in a grid</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkTreeSortable.html">GtkTreeSortable</a></span><span class="refpurpose"> — The interface for sortable models used by GtkTreeView</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkTreeModelSort.html">GtkTreeModelSort</a></span><span class="refpurpose"> — A GtkTreeModel which makes an underlying tree model sortable</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkTreeModelFilter.html">GtkTreeModelFilter</a></span><span class="refpurpose"> — A GtkTreeModel which hides parts of an underlying tree model</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkCellLayout.html">GtkCellLayout</a></span><span class="refpurpose"> — An interface for packing cells</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkCellArea.html">GtkCellArea</a></span><span class="refpurpose"> — An abstract class for laying out GtkCellRenderers</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkCellAreaBox.html">GtkCellAreaBox</a></span><span class="refpurpose"> — A cell area that renders GtkCellRenderers
into a row or a column</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkCellAreaContext.html">GtkCellAreaContext</a></span><span class="refpurpose"> — Stores geometrical information for a series of rows in a GtkCellArea</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkCellRenderer.html">GtkCellRenderer</a></span><span class="refpurpose"> — An object for rendering a single cell</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkCellEditable.html">GtkCellEditable</a></span><span class="refpurpose"> — Interface for widgets that can be used for editing cells</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkCellRendererAccel.html">GtkCellRendererAccel</a></span><span class="refpurpose"> — Renders a keyboard accelerator in a cell</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkCellRendererCombo.html">GtkCellRendererCombo</a></span><span class="refpurpose"> — Renders a combobox in a cell</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkCellRendererPixbuf.html">GtkCellRendererPixbuf</a></span><span class="refpurpose"> — Renders a pixbuf in a cell</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkCellRendererProgress.html">GtkCellRendererProgress</a></span><span class="refpurpose"> — Renders numbers as progress bars</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkCellRendererSpin.html">GtkCellRendererSpin</a></span><span class="refpurpose"> — Renders a spin button in a cell</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkCellRendererText.html">GtkCellRendererText</a></span><span class="refpurpose"> — Renders text in a cell</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkCellRendererToggle.html">GtkCellRendererToggle</a></span><span class="refpurpose"> — Renders a toggle button in a cell</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkCellRendererSpinner.html">GtkCellRendererSpinner</a></span><span class="refpurpose"> — Renders a spinning animation in a cell</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkListStore.html">GtkListStore</a></span><span class="refpurpose"> — A list-like data structure that can be used with the GtkTreeView</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkTreeStore.html">GtkTreeStore</a></span><span class="refpurpose"> — A tree-like data structure that can be used with the GtkTreeView</span>
</dt>
</dl></dd>
<dt><span class="chapter"><a href="MenusAndCombos.html">Menus, Combo Box, Toolbar</a></span></dt>
<dd><dl>
<dt>
<span class="refentrytitle"><a href="GtkComboBox.html">GtkComboBox</a></span><span class="refpurpose"> — A widget used to choose from a list of items</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkComboBoxText.html">GtkComboBoxText</a></span><span class="refpurpose"> — A simple, text-only combo box</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkMenu.html">GtkMenu</a></span><span class="refpurpose"> — A menu widget</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkMenuBar.html">GtkMenuBar</a></span><span class="refpurpose"> — A subclass of GtkMenuShell which holds GtkMenuItem widgets</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkMenuItem.html">GtkMenuItem</a></span><span class="refpurpose"> — The widget used for item in menus</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkRadioMenuItem.html">GtkRadioMenuItem</a></span><span class="refpurpose"> — A choice from multiple check menu items</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkCheckMenuItem.html">GtkCheckMenuItem</a></span><span class="refpurpose"> — A menu item with a check box</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkSeparatorMenuItem.html">GtkSeparatorMenuItem</a></span><span class="refpurpose"> — A separator used in menus</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkToolShell.html">GtkToolShell</a></span><span class="refpurpose"> — Interface for containers containing GtkToolItem widgets</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkToolbar.html">GtkToolbar</a></span><span class="refpurpose"> — Create bars of buttons and other widgets</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkToolItem.html">GtkToolItem</a></span><span class="refpurpose"> — The base class of widgets that can be added to GtkToolShell</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkToolPalette.html">GtkToolPalette</a></span><span class="refpurpose"> — A tool palette with categories</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkToolItemGroup.html">GtkToolItemGroup</a></span><span class="refpurpose"> — A sub container used in a tool palette</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkSeparatorToolItem.html">GtkSeparatorToolItem</a></span><span class="refpurpose"> — A toolbar item that separates groups of other
toolbar items</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkToolButton.html">GtkToolButton</a></span><span class="refpurpose"> — A GtkToolItem subclass that displays buttons</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkMenuToolButton.html">GtkMenuToolButton</a></span><span class="refpurpose"> — A GtkToolItem containing a button with an additional dropdown menu</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkToggleToolButton.html">GtkToggleToolButton</a></span><span class="refpurpose"> — A GtkToolItem containing a toggle button</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkRadioToolButton.html">GtkRadioToolButton</a></span><span class="refpurpose"> — A toolbar item that contains a radio button</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkPopover.html">GtkPopover</a></span><span class="refpurpose"> — Context dependent bubbles</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkPopoverMenu.html">GtkPopoverMenu</a></span><span class="refpurpose"> — Popovers to use as menus</span>
</dt>
</dl></dd>
<dt><span class="chapter"><a href="SelectorWidgets.html">Selector Widgets and Dialogs</a></span></dt>
<dd><dl>
<dt>
<span class="refentrytitle"><a href="GtkColorChooser.html">GtkColorChooser</a></span><span class="refpurpose"> — Interface implemented by widgets for choosing colors</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkColorButton.html">GtkColorButton</a></span><span class="refpurpose"> — A button to launch a color selection dialog</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkColorChooserWidget.html">GtkColorChooserWidget</a></span><span class="refpurpose"> — A widget for choosing colors</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkColorChooserDialog.html">GtkColorChooserDialog</a></span><span class="refpurpose"> — A dialog for choosing colors</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkFileChooser.html">GtkFileChooser</a></span><span class="refpurpose"> — File chooser interface used by GtkFileChooserWidget and GtkFileChooserDialog</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkFileChooserButton.html">GtkFileChooserButton</a></span><span class="refpurpose"> — A button to launch a file selection dialog</span>
</dt>
<dt>
<span class="refentrytitle"><a href="gtk3-GtkFileChooserNative.html">GtkFileChooserNative</a></span><span class="refpurpose"> — A native file chooser dialog, suitable for “File/Open” or “File/Save” commands</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkFileChooserDialog.html">GtkFileChooserDialog</a></span><span class="refpurpose"> — A file chooser dialog, suitable for “File/Open” or “File/Save” commands</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkFileChooserWidget.html">GtkFileChooserWidget</a></span><span class="refpurpose"> — A file chooser widget</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkFileFilter.html">GtkFileFilter</a></span><span class="refpurpose"> — A filter for selecting a file subset</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkFontChooser.html">GtkFontChooser</a></span><span class="refpurpose"> — Interface implemented by widgets displaying fonts</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkFontButton.html">GtkFontButton</a></span><span class="refpurpose"> — A button to launch a font chooser dialog</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkFontChooserWidget.html">GtkFontChooserWidget</a></span><span class="refpurpose"> — A widget for selecting fonts</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkFontChooserDialog.html">GtkFontChooserDialog</a></span><span class="refpurpose"> — A dialog for selecting fonts</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkPlacesSidebar.html">GtkPlacesSidebar</a></span><span class="refpurpose"> — Sidebar that displays frequently-used places in the file system</span>
</dt>
</dl></dd>
<dt><span class="chapter"><a href="Ornaments.html">Ornaments</a></span></dt>
<dd><dl>
<dt>
<span class="refentrytitle"><a href="GtkFrame.html">GtkFrame</a></span><span class="refpurpose"> — A bin with a decorative frame and optional label</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkSeparator.html">GtkSeparator</a></span><span class="refpurpose"> — A separator widget</span>
</dt>
</dl></dd>
<dt><span class="chapter"><a href="ScrollingWidgets.html">Scrolling</a></span></dt>
<dd><dl>
<dt>
<span class="refentrytitle"><a href="GtkScrollbar.html">GtkScrollbar</a></span><span class="refpurpose"> — A Scrollbar</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkScrolledWindow.html">GtkScrolledWindow</a></span><span class="refpurpose"> — Adds scrollbars to its child widget</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkScrollable.html">GtkScrollable</a></span><span class="refpurpose"> — An interface for scrollable widgets</span>
</dt>
</dl></dd>
<dt><span class="chapter"><a href="Printing.html">Printing</a></span></dt>
<dd><dl>
<dt>
<span class="refentrytitle"><a href="gtk3-High-level-Printing-API.html">GtkPrintOperation</a></span><span class="refpurpose"> — High-level Printing API</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkPrintContext.html">GtkPrintContext</a></span><span class="refpurpose"> — Encapsulates context for drawing pages</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkPrintSettings.html">GtkPrintSettings</a></span><span class="refpurpose"> — Stores print settings</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkPageSetup.html">GtkPageSetup</a></span><span class="refpurpose"> — Stores page setup information</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkPaperSize.html">GtkPaperSize</a></span><span class="refpurpose"> — Support for named paper sizes</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkPrinter.html">GtkPrinter</a></span><span class="refpurpose"> — Represents a printer</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkPrintJob.html">GtkPrintJob</a></span><span class="refpurpose"> — Represents a print job</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkPrintUnixDialog.html">GtkPrintUnixDialog</a></span><span class="refpurpose"> — A print dialog</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkPageSetupUnixDialog.html">GtkPageSetupUnixDialog</a></span><span class="refpurpose"> — A page setup dialog</span>
</dt>
</dl></dd>
<dt><span class="chapter"><a href="ShortcutsOverview.html">Shortcuts Overview</a></span></dt>
<dd><dl>
<dt>
<span class="refentrytitle"><a href="GtkShortcutsWindow.html">GtkShortcutsWindow</a></span><span class="refpurpose"> — Toplevel which shows help for shortcuts</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkShortcutsSection.html">GtkShortcutsSection</a></span><span class="refpurpose"> — Represents an application mode in a GtkShortcutsWindow</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkShortcutsGroup.html">GtkShortcutsGroup</a></span><span class="refpurpose"> — Represents a group of shortcuts in a GtkShortcutsWindow</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkShortcutsShortcut.html">GtkShortcutsShortcut</a></span><span class="refpurpose"> — Represents a keyboard shortcut in a GtkShortcutsWindow</span>
</dt>
</dl></dd>
<dt><span class="chapter"><a href="MiscObjects.html">Miscellaneous</a></span></dt>
<dd><dl>
<dt>
<span class="refentrytitle"><a href="GtkAdjustment.html">GtkAdjustment</a></span><span class="refpurpose"> — A representation of an adjustable bounded value</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkCalendar.html">GtkCalendar</a></span><span class="refpurpose"> — Displays a calendar and allows the user to select a date</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkDrawingArea.html">GtkDrawingArea</a></span><span class="refpurpose"> — A widget for custom user interface elements</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkGLArea.html">GtkGLArea</a></span><span class="refpurpose"> — A widget for custom drawing with OpenGL</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkEventBox.html">GtkEventBox</a></span><span class="refpurpose"> — A widget used to catch events for widgets which
do not have their own window</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkHandleBox.html">GtkHandleBox</a></span><span class="refpurpose"> — a widget for detachable window portions</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkIMContextSimple.html">GtkIMContextSimple</a></span><span class="refpurpose"> — An input method context supporting table-based input methods</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkIMMulticontext.html">GtkIMMulticontext</a></span><span class="refpurpose"> — An input method context supporting multiple, loadable input methods</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkSizeGroup.html">GtkSizeGroup</a></span><span class="refpurpose"> — Grouping widgets so they request the same size</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkTooltip.html">GtkTooltip</a></span><span class="refpurpose"> — Add tips to your widgets</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkViewport.html">GtkViewport</a></span><span class="refpurpose"> — An adapter which makes widgets scrollable</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkAccessible.html">GtkAccessible</a></span><span class="refpurpose"> — Accessibility support for widgets</span>
</dt>
</dl></dd>
<dt><span class="chapter"><a href="AbstractObjects.html">Abstract Base Classes</a></span></dt>
<dd><dl>
<dt>
<span class="refentrytitle"><a href="GtkWidget.html">GtkWidget</a></span><span class="refpurpose"> — Base class for all widgets</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkContainer.html">GtkContainer</a></span><span class="refpurpose"> — Base class for widgets which contain other widgets</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkBin.html">GtkBin</a></span><span class="refpurpose"> — A container with just one child</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkMenuShell.html">GtkMenuShell</a></span><span class="refpurpose"> — A base class for menu objects</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkRange.html">GtkRange</a></span><span class="refpurpose"> — Base class for widgets which visualize an adjustment</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkIMContext.html">GtkIMContext</a></span><span class="refpurpose"> — Base class for input method contexts</span>
</dt>
<dt>
<span class="refentrytitle"><a href="gtk3-GtkNativeDialog.html">GtkNativeDialog</a></span><span class="refpurpose"> — Integrate with native dialogs</span>
</dt>
</dl></dd>
<dt><span class="chapter"><a href="PlugSocket.html">Cross-process Embedding</a></span></dt>
<dd><dl>
<dt>
<span class="refentrytitle"><a href="GtkPlug.html">GtkPlug</a></span><span class="refpurpose"> — Toplevel for embedding into other processes</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkSocket.html">GtkSocket</a></span><span class="refpurpose"> — Container for widgets from other processes</span>
</dt>
</dl></dd>
<dt><span class="chapter"><a href="RecentDocuments.html">Recently Used Documents</a></span></dt>
<dd><dl>
<dt>
<span class="refentrytitle"><a href="GtkRecentManager.html">GtkRecentManager</a></span><span class="refpurpose"> — Managing recently used files</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkRecentChooser.html">GtkRecentChooser</a></span><span class="refpurpose"> — Interface implemented by widgets displaying recently
used files</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkRecentChooserDialog.html">GtkRecentChooserDialog</a></span><span class="refpurpose"> — Displays recently used files in a dialog</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkRecentChooserMenu.html">GtkRecentChooserMenu</a></span><span class="refpurpose"> — Displays recently used files in a menu</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkRecentChooserWidget.html">GtkRecentChooserWidget</a></span><span class="refpurpose"> — Displays recently used files</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkRecentFilter.html">GtkRecentFilter</a></span><span class="refpurpose"> — A filter for selecting a subset of recently used files</span>
</dt>
</dl></dd>
<dt><span class="chapter"><a href="ApplicationChoosing.html">Choosing from installed applications</a></span></dt>
<dd><dl>
<dt>
<span class="refentrytitle"><a href="GtkAppChooser.html">GtkAppChooser</a></span><span class="refpurpose"> — Interface implemented by widgets for choosing an application</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkAppChooserButton.html">GtkAppChooserButton</a></span><span class="refpurpose"> — A button to launch an application chooser dialog</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkAppChooserDialog.html">GtkAppChooserDialog</a></span><span class="refpurpose"> — An application chooser dialog</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkAppChooserWidget.html">GtkAppChooserWidget</a></span><span class="refpurpose"> — Application chooser widget that can be embedded in other widgets</span>
</dt>
</dl></dd>
<dt><span class="chapter"><a href="Gestures.html">Gestures and event handling</a></span></dt>
<dd><dl>
<dt>
<span class="refentrytitle"><a href="GtkEventController.html">GtkEventController</a></span><span class="refpurpose"> — Self-contained handler of series of events</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkEventControllerKey.html">GtkEventControllerKey</a></span><span class="refpurpose"> — Event controller for key events</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkEventControllerScroll.html">GtkEventControllerScroll</a></span><span class="refpurpose"> — Event controller for scroll events</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkEventControllerMotion.html">GtkEventControllerMotion</a></span><span class="refpurpose"> — Event controller for motion events</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkGesture.html">GtkGesture</a></span><span class="refpurpose"> — Base class for gestures</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkGestureSingle.html">GtkGestureSingle</a></span><span class="refpurpose"> — Base class for mouse/single-touch gestures</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkGestureDrag.html">GtkGestureDrag</a></span><span class="refpurpose"> — Drag gesture</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkGestureLongPress.html">GtkGestureLongPress</a></span><span class="refpurpose"> — "Press and Hold" gesture</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkGestureMultiPress.html">GtkGestureMultiPress</a></span><span class="refpurpose"> — Multipress gesture</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkGesturePan.html">GtkGesturePan</a></span><span class="refpurpose"> — Pan gesture</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkGestureSwipe.html">GtkGestureSwipe</a></span><span class="refpurpose"> — Swipe gesture</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkGestureRotate.html">GtkGestureRotate</a></span><span class="refpurpose"> — Rotate gesture</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkGestureZoom.html">GtkGestureZoom</a></span><span class="refpurpose"> — Zoom gesture</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkGestureStylus.html">GtkGestureStylus</a></span><span class="refpurpose"> — Gesture for stylus input</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkPadController.html">GtkPadController</a></span><span class="refpurpose"> — Controller for drawing tablet pads</span>
</dt>
</dl></dd>
<dt><span class="chapter"><a href="DeprecatedObjects.html">Deprecated</a></span></dt>
<dd><dl>
<dt>
<span class="refentrytitle"><a href="gtk3-GtkSymbolicColor.html">GtkSymbolicColor</a></span><span class="refpurpose"> — Symbolic colors</span>
</dt>
<dt>
<span class="refentrytitle"><a href="gtk3-GtkGradient.html">GtkGradient</a></span><span class="refpurpose"> — Gradients</span>
</dt>
<dt>
<span class="refentrytitle"><a href="gtk3-Resource-Files.html">Resource Files</a></span><span class="refpurpose"> — Deprecated routines for handling resource files</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkStyle.html">GtkStyle</a></span><span class="refpurpose"> — Deprecated object that holds style information
for widgets</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkHScale.html">GtkHScale</a></span><span class="refpurpose"> — A horizontal slider widget for selecting a value from a range</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkVScale.html">GtkVScale</a></span><span class="refpurpose"> — A vertical slider widget for selecting a value from a range</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkTearoffMenuItem.html">GtkTearoffMenuItem</a></span><span class="refpurpose"> — A menu item used to tear off and reattach its menu</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkColorSelection.html">GtkColorSelection</a></span><span class="refpurpose"> — Deprecated widget used to select a color</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkColorSelectionDialog.html">GtkColorSelectionDialog</a></span><span class="refpurpose"> — Deprecated dialog box for selecting a color</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkHSV.html">GtkHSV</a></span><span class="refpurpose"> — A “color wheel” widget</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkFontSelection.html">GtkFontSelection</a></span><span class="refpurpose"> — Deprecated widget for selecting fonts</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkFontSelectionDialog.html">GtkFontSelectionDialog</a></span><span class="refpurpose"> — Deprecated dialog box for selecting fonts</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkHBox.html">GtkHBox</a></span><span class="refpurpose"> — A horizontal container box</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkVBox.html">GtkVBox</a></span><span class="refpurpose"> — A vertical container box</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkHButtonBox.html">GtkHButtonBox</a></span><span class="refpurpose"> — A container for arranging buttons horizontally</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkVButtonBox.html">GtkVButtonBox</a></span><span class="refpurpose"> — A container for arranging buttons vertically</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkHPaned.html">GtkHPaned</a></span><span class="refpurpose"> — A container with two panes arranged horizontally</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkVPaned.html">GtkVPaned</a></span><span class="refpurpose"> — A container with two panes arranged vertically</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkTable.html">GtkTable</a></span><span class="refpurpose"> — Pack widgets in regular patterns</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkHSeparator.html">GtkHSeparator</a></span><span class="refpurpose"> — A horizontal separator</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkVSeparator.html">GtkVSeparator</a></span><span class="refpurpose"> — A vertical separator</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkHScrollbar.html">GtkHScrollbar</a></span><span class="refpurpose"> — A horizontal scrollbar</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkVScrollbar.html">GtkVScrollbar</a></span><span class="refpurpose"> — A vertical scrollbar</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkUIManager.html">GtkUIManager</a></span><span class="refpurpose"> — Constructing menus and toolbars from an XML description</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkActionGroup.html">GtkActionGroup</a></span><span class="refpurpose"> — A group of actions</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkAction.html">GtkAction</a></span><span class="refpurpose"> — A deprecated action which can be triggered by a menu or toolbar item</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkToggleAction.html">GtkToggleAction</a></span><span class="refpurpose"> — An action which can be toggled between two states</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkRadioAction.html">GtkRadioAction</a></span><span class="refpurpose"> — An action of which only one in a group can be active</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkRecentAction.html">GtkRecentAction</a></span><span class="refpurpose"> — An action of which represents a list of recently used files</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkActivatable.html">GtkActivatable</a></span><span class="refpurpose"> — An interface for activatable widgets</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkImageMenuItem.html">GtkImageMenuItem</a></span><span class="refpurpose"> — A deprecated widget for a menu item with an icon</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkMisc.html">GtkMisc</a></span><span class="refpurpose"> — Base class for widgets with alignments and padding</span>
</dt>
<dt>
<span class="refentrytitle"><a href="gtk3-Stock-Items.html">Stock Items</a></span><span class="refpurpose"> — Prebuilt common menu/toolbar items and corresponding
icons</span>
</dt>
<dt>
<span class="refentrytitle"><a href="gtk3-Themeable-Stock-Images.html">Themeable Stock Images</a></span><span class="refpurpose"> — Manipulating stock icons</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkNumerableIcon.html">GtkNumerableIcon</a></span><span class="refpurpose"> — A GIcon that allows numbered emblems</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkArrow.html">GtkArrow</a></span><span class="refpurpose"> — Displays an arrow</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkStatusIcon.html">GtkStatusIcon</a></span><span class="refpurpose"> — Display an icon in the system tray</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkThemingEngine.html">GtkThemingEngine</a></span><span class="refpurpose"> — Theming renderers</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkAlignment.html">GtkAlignment</a></span><span class="refpurpose"> — A widget which controls the alignment and size of its child</span>
</dt>
</dl></dd>
</dl></dd>
<dt><span class="part"><a href="gtkbase.html">III. GTK+ Core Reference</a></span></dt>
<dd><dl>
<dt>
<span class="refentrytitle"><a href="gtk3-General.html">Main loop and Events</a></span><span class="refpurpose"> — Library initialization, main event loop, and events</span>
</dt>
<dt>
<span class="refentrytitle"><a href="gtk3-Feature-Test-Macros.html">Version Information</a></span><span class="refpurpose"> — Variables and functions to check the GTK+ version</span>
</dt>
<dt>
<span class="refentrytitle"><a href="gtk3-Keyboard-Accelerators.html">Accelerator Groups</a></span><span class="refpurpose"> — Groups of global keyboard accelerators for an
entire GtkWindow</span>
</dt>
<dt>
<span class="refentrytitle"><a href="gtk3-Accelerator-Maps.html">Accelerator Maps</a></span><span class="refpurpose"> — Loadable keyboard accelerator specifications</span>
</dt>
<dt>
<span class="refentrytitle"><a href="gtk3-Clipboards.html">Clipboards</a></span><span class="refpurpose"> — Storing data on clipboards</span>
</dt>
<dt>
<span class="refentrytitle"><a href="gtk3-Drag-and-Drop.html">Drag and Drop</a></span><span class="refpurpose"> — Functions for controlling drag and drop handling</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkSettings.html">Settings</a></span><span class="refpurpose"> — Sharing settings between applications</span>
</dt>
<dt>
<span class="refentrytitle"><a href="gtk3-Bindings.html">Bindings</a></span><span class="refpurpose"> — Key bindings for individual widgets</span>
</dt>
<dt>
<span class="refentrytitle"><a href="gtk3-Standard-Enumerations.html">Standard Enumerations</a></span><span class="refpurpose"> — Public enumerated types used throughout GTK+</span>
</dt>
<dt>
<span class="refentrytitle"><a href="gtk3-Selections.html">Selections</a></span><span class="refpurpose"> — Functions for handling inter-process communication
via selections</span>
</dt>
<dt>
<span class="refentrytitle"><a href="gtk3-Testing.html">Testing</a></span><span class="refpurpose"> — Utilities for testing GTK+ applications</span>
</dt>
<dt>
<span class="refentrytitle"><a href="gtk3-Filesystem-utilities.html">Filesystem utilities</a></span><span class="refpurpose"> — Functions for working with GIO</span>
</dt>
</dl></dd>
<dt><span class="part"><a href="theming.html">IV. Theming in GTK+</a></span></dt>
<dd><dl>
<dt>
<span class="refentrytitle"><a href="chap-css-overview.html">GTK+ CSS Overview</a></span><span class="refpurpose"> — 
Overview of CSS in GTK+
</span>
</dt>
<dt>
<span class="refentrytitle"><a href="chap-css-properties.html">GTK+ CSS Properties</a></span><span class="refpurpose"> — 
CSS Properties in GTK+
</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkStyleContext.html">GtkStyleContext</a></span><span class="refpurpose"> — Rendering UI elements</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkCssProvider.html">GtkCssProvider</a></span><span class="refpurpose"> — CSS-like styling for widgets</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkStyleProvider.html">GtkStyleProvider</a></span><span class="refpurpose"> — Interface to provide style information to GtkStyleContext</span>
</dt>
<dt>
<span class="refentrytitle"><a href="gtk3-GtkStyleProperties.html">GtkStyleProperties</a></span><span class="refpurpose"> — Store for style property information</span>
</dt>
<dt>
<span class="refentrytitle"><a href="gtk3-GtkWidgetPath.html">GtkWidgetPath</a></span><span class="refpurpose"> — Widget path abstraction</span>
</dt>
<dt>
<span class="refentrytitle"><a href="GtkIconTheme.html">GtkIconTheme</a></span><span class="refpurpose"> — Looking up icons by name</span>
</dt>
</dl></dd>
<dt><span class="part"><a href="migrating.html">V. Migrating from Previous Versions of GTK+</a></span></dt>
<dd><dl>
<dt><span class="chapter"><a href="gtk-migrating-2-to-3.html">Migrating from GTK+ 2.x to GTK+ 3</a></span></dt>
<dd><dl>
<dt><span class="section"><a href="gtk-migrating-2-to-3.html#id-1.6.3.3">Preparation in GTK+ 2.x</a></span></dt>
<dd><dl>
<dt><span class="section"><a href="gtk-migrating-2-to-3.html#id-1.6.3.3.3">Do not include individual headers</a></span></dt>
<dt><span class="section"><a href="gtk-migrating-2-to-3.html#id-1.6.3.3.4">Do not use deprecated symbols</a></span></dt>
<dt><span class="section"><a href="gtk-migrating-2-to-3.html#id-1.6.3.3.5">Use accessor functions instead of direct access</a></span></dt>
<dt><span class="section"><a href="gtk-migrating-2-to-3.html#id-1.6.3.3.6">Replace GDK_&lt;keyname&gt; with GDK_KEY_&lt;keyname&gt;</a></span></dt>
<dt><span class="section"><a href="gtk-migrating-2-to-3.html#id-1.6.3.3.7">Use GIO for launching applications</a></span></dt>
<dt><span class="section"><a href="gtk-migrating-2-to-3.html#id-1.6.3.3.8">Use cairo for drawing</a></span></dt>
</dl></dd>
<dt><span class="section"><a href="ch26s02.html">Changes that need to be done at the time of the switch</a></span></dt>
<dd><dl>
<dt><span class="section"><a href="ch26s02.html#id-1.6.3.4.3">Replace size_request by get_preferred_width/height</a></span></dt>
<dt><span class="section"><a href="ch26s02.html#id-1.6.3.4.4">Replace GdkRegion by cairo_region_t</a></span></dt>
<dt><span class="section"><a href="ch26s02.html#id-1.6.3.4.5">Replace GdkPixmap by cairo surfaces</a></span></dt>
<dt><span class="section"><a href="ch26s02.html#id-1.6.3.4.6">Replace GdkColormap by GdkVisual</a></span></dt>
<dt><span class="section"><a href="ch26s02.html#id-1.6.3.4.7">GdkDrawable is gone</a></span></dt>
<dt><span class="section"><a href="ch26s02.html#id-1.6.3.4.8">Event filtering</a></span></dt>
<dt><span class="section"><a href="ch26s02.html#id-1.6.3.4.9">Backend-specific code</a></span></dt>
<dt><span class="section"><a href="ch26s02.html#id-1.6.3.4.10">GtkPlug and GtkSocket</a></span></dt>
<dt><span class="section"><a href="ch26s02.html#id-1.6.3.4.11">The GtkWidget::draw signal</a></span></dt>
<dt><span class="section"><a href="ch26s02.html#id-1.6.3.4.12">GtkProgressBar orientation</a></span></dt>
<dt><span class="section"><a href="ch26s02.html#id-1.6.3.4.13">Check your expand and fill flags</a></span></dt>
<dt><span class="section"><a href="ch26s02.html#id-1.6.3.4.14">Scrolling changes</a></span></dt>
<dt><span class="section"><a href="ch26s02.html#id-1.6.3.4.15">GtkObject is gone</a></span></dt>
<dt><span class="section"><a href="ch26s02.html#id-1.6.3.4.16">GtkEntryCompletion signal parameters</a></span></dt>
<dt><span class="section"><a href="ch26s02.html#id-1.6.3.4.17">Resize grips</a></span></dt>
<dt><span class="section"><a href="ch26s02.html#id-1.6.3.4.18">Prevent mixed linkage</a></span></dt>
<dt><span class="section"><a href="ch26s02.html#id-1.6.3.4.19">Install GTK+ modules in the right place</a></span></dt>
</dl></dd>
</dl></dd>
<dt><span class="chapter"><a href="gtk-migrating-GtkStyleContext.html">Theming changes</a></span></dt>
<dd><dl>
<dt><span class="section"><a href="gtk-migrating-GtkStyleContext.html#gtk-migrating-GtkStyleContext-themes">Migrating themes</a></span></dt>
<dt><span class="section"><a href="gtk-migrating-theme-GtkStyleContext-engines.html">Migrating theme engines</a></span></dt>
<dt><span class="section"><a href="gtk-migrating-GtkStyleContext-parser-extensions.html">Extending the CSS parser</a></span></dt>
<dt><span class="section"><a href="gtk-migrating-GtkStyleContext-css.html">Using the CSS file format</a></span></dt>
<dt><span class="section"><a href="gtk-migrating-GtkStyleContext-checklist.html">A checklist for widgets</a></span></dt>
<dt><span class="section"><a href="gtk-migrating-GtkStyleContext-parsing.html">Parsing of custom resources</a></span></dt>
<dt><span class="section"><a href="gtk-migrating-GtkStyleContext-bonus-points.html">Bonus points</a></span></dt>
</dl></dd>
<dt><span class="chapter"><a href="gtk-migrating-unique-GtkApplication.html">Migrating from libunique to GApplication or GtkApplication</a></span></dt>
<dd><dl>
<dt><span class="section"><a href="gtk-migrating-unique-GtkApplication.html#id-1.6.5.5">Uniqueness</a></span></dt>
<dt><span class="section"><a href="ch28s02.html">Commands and Messages</a></span></dt>
</dl></dd>
<dt><span class="chapter"><a href="gtk-migrating-smclient-GtkApplication.html">Migrating from EggSMClient to GtkApplication</a></span></dt>
<dt><span class="chapter"><a href="gtk-migrating-GtkGrid.html">Migrating from other containers to GtkGrid</a></span></dt>
<dd><dl>
<dt><span class="section"><a href="gtk-migrating-GtkGrid.html#id-1.6.7.4">GtkBox versus GtkGrid: packing</a></span></dt>
<dt><span class="section"><a href="ch30s02.html">GtkBox versus GtkGrid: sizing</a></span></dt>
<dt><span class="section"><a href="ch30s03.html">GtkBox versus GtkGrid: spacing</a></span></dt>
</dl></dd>
<dt><span class="chapter"><a href="gtk-migrating-checklist.html">Migration Details Checklist</a></span></dt>
<dd><dl>
<dt><span class="section"><a href="gtk-migrating-checklist.html#checklist-popup-menu">Implement GtkWidget::popup_menu</a></span></dt>
<dt><span class="section"><a href="checklist-gdkeventexpose-region.html">Use GdkEventExpose.region</a></span></dt>
<dt><span class="section"><a href="checklist-modifiers.html">Test for modifier keys correctly</a></span></dt>
<dt><span class="section"><a href="checklist-named-icons.html">Use named icons</a></span></dt>
</dl></dd>
<dt><span class="chapter"><a href="gtk-migrating-3-x-to-y.html">Migrating from one GTK+ 3 release to another</a></span></dt>
<dd><dl>
<dt><span class="section"><a href="gtk-migrating-3-x-to-y.html#id-1.6.9.4">Changes in GTK+ 3.2</a></span></dt>
<dt><span class="section"><a href="ch32s02.html">Changes in GTK+ 3.4</a></span></dt>
<dt><span class="section"><a href="ch32s03.html">Changes in GTK+ 3.6</a></span></dt>
<dt><span class="section"><a href="ch32s04.html">Changes in GTK+ 3.8</a></span></dt>
<dt><span class="section"><a href="ch32s05.html">Changes in GTK+ 3.10</a></span></dt>
<dt><span class="section"><a href="ch32s06.html">Changes in GTK+ 3.12</a></span></dt>
<dt><span class="section"><a href="ch32s07.html">Changes in GTK+ 3.14</a></span></dt>
<dt><span class="section"><a href="ch32s08.html">Changes in GTK+ 3.16</a></span></dt>
<dt><span class="section"><a href="ch32s09.html">Changes in GTK+ 3.18</a></span></dt>
<dt><span class="section"><a href="ch32s10.html">Changes in GTK+ 3.20</a></span></dt>
<dt><span class="section"><a href="ch32s11.html">Changes in GTK+ 3.22</a></span></dt>
</dl></dd>
</dl></dd>
<dt><span class="part"><a href="pt06.html">VI. GTK+ Tools</a></span></dt>
<dd><dl>
<dt>
<span class="refentrytitle"><a href="gtk3-demo.html">gtk3-demo</a></span><span class="refpurpose"> — Demonstrate GTK+ widgets</span>
</dt>
<dt>
<span class="refentrytitle"><a href="gtk3-demo-application.html">gtk3-demo-application</a></span><span class="refpurpose"> — Demonstrate GtkApplication</span>
</dt>
<dt>
<span class="refentrytitle"><a href="gtk3-widget-factory.html">gtk3-widget-factory</a></span><span class="refpurpose"> — Demonstrate GTK+ widgets</span>
</dt>
<dt>
<span class="refentrytitle"><a href="gtk3-icon-browser.html">gtk3-icon-browser</a></span><span class="refpurpose"> — List themed icons</span>
</dt>
<dt>
<span class="refentrytitle"><a href="gtk-query-immodules-3.0.html">gtk-query-immodules-3.0</a></span><span class="refpurpose"> — Input method module registration utility</span>
</dt>
<dt>
<span class="refentrytitle"><a href="gtk-update-icon-cache.html">gtk-update-icon-cache</a></span><span class="refpurpose"> — Icon theme caching utility</span>
</dt>
<dt>
<span class="refentrytitle"><a href="gtk-encode-symbolic-svg.html">gtk-encode-symbolic-svg</a></span><span class="refpurpose"> — Symbolic icon conversion utility</span>
</dt>
<dt>
<span class="refentrytitle"><a href="gtk-builder-tool.html">gtk-builder-tool</a></span><span class="refpurpose"> — GtkBuilder file utility</span>
</dt>
<dt>
<span class="refentrytitle"><a href="gtk-launch.html">gtk-launch</a></span><span class="refpurpose"> — Launch an application</span>
</dt>
<dt>
<span class="refentrytitle"><a href="gtk-query-settings.html">gtk-query-settings</a></span><span class="refpurpose"> — Utility to print name and value of all GtkSettings properties</span>
</dt>
<dt>
<span class="refentrytitle"><a href="broadwayd.html">broadwayd</a></span><span class="refpurpose"> — Broadway display server</span>
</dt>
</dl></dd>
<dt><span class="part"><a href="platform-support.html">VII. GTK+ Platform Support</a></span></dt>
<dd><dl>
<dt>
<span class="refentrytitle"><a href="gtk-building.html">Compiling the GTK+ libraries</a></span><span class="refpurpose"> — 
How to compile GTK+ itself
</span>
</dt>
<dt>
<span class="refentrytitle"><a href="gtk-compiling.html">Compiling GTK+ Applications</a></span><span class="refpurpose"> — 
How to compile your GTK+ application
</span>
</dt>
<dt>
<span class="refentrytitle"><a href="gtk-running.html">Running GTK+ Applications</a></span><span class="refpurpose"> — 
How to run and debug your GTK+ application
</span>
</dt>
<dt>
<span class="refentrytitle"><a href="gtk-x11.html">Using GTK+ on the X Window System</a></span><span class="refpurpose"> — 
X11-specific aspects of using GTK+
</span>
</dt>
<dt>
<span class="refentrytitle"><a href="gtk-windows.html">Using GTK+ on Windows</a></span><span class="refpurpose"> — 
Windows-specific aspects of using GTK+
</span>
</dt>
<dt>
<span class="refentrytitle"><a href="gtk-osx.html">Using GTK+ on Mac OS X</a></span><span class="refpurpose"> — 
OS X-specific aspects of using GTK+
</span>
</dt>
<dt>
<span class="refentrytitle"><a href="gtk-broadway.html">Using GTK+ with Broadway</a></span><span class="refpurpose"> — 
HTML-specific aspects of using GTK+
</span>
</dt>
<dt>
<span class="refentrytitle"><a href="gtk-wayland.html">Using GTK+ with Wayland</a></span><span class="refpurpose"> — 
Wayland-specific aspects of using GTK+
</span>
</dt>
</dl></dd>
<dt><span class="glossary"><a href="glossary.html">Glossary</a></span></dt>
<dt><span class="index"><a href="api-index-full.html">Index of all symbols</a></span></dt>
<dt><span class="glossary"><a href="annotation-glossary.html">Annotation Glossary</a></span></dt>
</dl></div>
</div>
<div class="footer">
<hr>Generated by GTK-Doc V1.99</div>
</body>
</html>